autostart/
nitrogen/
BraveSoftware/
cef_user_data/
Code
Code - OSS/
configstore/
dconf/
enchant/
eog/
gedit/
ghb/
GIMP/
gnome-control-center/
gnome-session/
goa-1.0/
Google/
gtk-2.0/
ibus/
JetBrains/
Kitematic/
mimeapps.list
monitors.*
obs-studio/
procps/
pulse/
QtProject.conf
sqlitebrowser/
user-dirs.dirs
user-dirs.locale
Yubico/
gtk-3.0/
evolution/
libreoffice/
nautilus/
Zeal/
*~
qutebrowser/*marks


